@media (min-width: 320px) {
  .advantages {
    width: 260px;
    margin-bottom: 53px;

    &__title {
      .second-title();
      margin-bottom: 24px;
    }

    &__list {
      .list;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    &__item {
      font-size: 17px;
      line-height: 20px;
      padding-top: 26px;
    }

    &_min-button {
      width: 130px;
    }
  }
}

@media (min-width: 768px) {
  .advantages {
    width: 668px;
    margin-bottom: 79px;

    &__title {
      .second-title-tablet();
    }

    &__list {
      height: 240px;
      flex-direction: column;
    }

    &__item {
      width: 250px;
      font-size: 20px;
      line-height: 22px;
    }

    &__min-button {
      width: 80px;
    }
  }
}

@media (min-width: 1150px) {
  .advantages {
    width: 1050px;
    margin-left: 175px;
    margin-right: 175px;

    &__title {
      .second-title-desktop();
    }

    &__min-button {
      width: 88px;
    }
  }
}
