@media (min-width: 320px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__logo-image {
      width: 86px;
      height: 35px;
      margin-left: 86px;
      margin-right: 88px;
      margin-bottom: 22px;
      background-image: url("../img/logo-mobile.svg");
      background-repeat: no-repeat;
    }

    &__delivery {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;

    &__logo-image {
      margin-bottom: 20px;
      margin-left: 48px;
      width: 113px;
      height: 44px;
      background-image: url("../img/mishka-logo-tablet.svg");
    }

    &__delivery-text {
      font-size: 15px;
      line-height: 24px;
      .wrapper-tablet;
      display: inline-block;
      margin-left: auto;
      text-align: right;
    }

    &__delivery {
      display: inline-block;
      order: 4;
      background-color: #f9f9f9;
      width: 384px;
      border-top: 1px solid #dfdfdf;
      box-sizing: border-box;
      padding-top: 20px;
      padding-left: 105px;

      &--inner-page {
        background-color: #f1f1f1;
      }
    }
  }
}

@media (min-width: 1250px) {
  .main-nav {
    &__index-link {
      order: 2;
      margin: auto;
      margin-left: 0;
      margin-right: 0;
    }

    &__logo-image {
      width: 149px;
      height: 72px;
      background-image: url("../img/mishka-logo-desktop.svg");
    }

    &__delivery {
      order: 5;
      width: 625px;
      padding-left: 295px;
    }
  }
}
