.nav-second {
  .list;
}

.nav-second__link {
  .third-title-all();
  .link();
}

.nav-second__item {
  text-align: center;
  height: 79px;
  padding-top: 26px;
  padding-bottom: 29px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}

.nav-second__link[href] {
  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b7b7b7;
  }
}

.nav-second__search {
  position: relative;
}

.nav-second__search-icon {
  position: absolute;
  top: 0;
  right: 125px;
  opacity: 0.3;
}

.nav-second__basket--link {
  position: relative;
}

.nav-second__basket-icon {
  position: absolute;
  top: 0;
  right: 140px;
  opacity: 0.3;

  &:hover,
  &:focus {
    polygon {
      fill: #63d1bb;
    }
    opacity: 1;
  }

  &:active {
    opacity: 0.3;

    polygon {
      fill: #63d1bb;
    }
  }
}


@media (min-width: 768px) {
  .nav-second {
    display: flex;
    order: 1;
    margin-left: auto;
    border-bottom: none;

    &__item {
      padding: 0;
      display: inline-block;
    }

    &__search {
      width: 84px;
      height: 88px;
      box-sizing: border-box;
      padding: 0;
      font-size: 0;
      border-bottom: none;
    }

    &__basket {
      width: 265px;
      padding: 0;
      font-size: 0;
      border-bottom: none;
      padding-top: 30px;
    }
  }

  .nav-second__search-icon {
    top: 20px;
    left: 10px;
  }

  .nav-second__basket-icon {
    right: 140px;
  }
}

@media (min-width: 1150px) {
  .nav-second {
    order: 3;
    margin-left: 80px;


    &__basket {
      width: 265px;
      box-sizing: border-box;
    }

    &__basket--link {
      padding-left: 84px;
    }
  }
}
