@media (min-width: 320px) {
  .nav-first {
    .list;
  }

  .nav-first__link {
    .third-title-all();
    .link();
  }

  .nav-first__link[href] {
    &:hover,
    &:focus {
      color: #666666;
    }

    &:active {
      color: #b7b7b7;
    }
  }

  .nav-first__item {
    height: 79px;
    padding-top: 26px;
    padding-bottom: 29px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: 768px) {
  .nav-first {
    display: flex;
    justify-content: flex-start;
    order: 2;
    background-color: #f9f9f9;
    width: 384px;
    border-top: 1px solid #dfdfdf;
    box-sizing: border-box;

    &__link {
      font-size: 15px;
    }

    &--inner-page {
      background-color: #f1f1f1;
    }

    &__item {
      min-height: 92px;
      flex-shrink: 0;
      height: 50px;
      padding: 0;
      padding-top: 20px;
      display: inline-block;
      font-size: 15px;
      line-height: 24px;
      width: 167px;
      padding-right: 36px;
      box-sizing: border-box;
      border-bottom: none;

      &:first-of-type {
        margin-left: 50px;
      }
    }
  }
}

@media (min-width: 1150px) {
  .nav-first {
    border-top: none;
    margin-left: 50px;
    width: 420px;
    order: 1;
    background-color: #ffffff;
  }

  .nav-first__link {
    .third-title-all();
  }

  .nav-first__item {
    padding-top: 30px;
    box-sizing: border-box;

    &:nth-of-type(odd) {
      margin-left: 0;
      border-right: 1px solid #dfdfdf;
      min-width: 185px;
    }

    &:nth-of-type(even) {
      padding-left: 35px;
      padding-right: 0;
      width: 200px;
    }
  }
}
