.order-form {
  margin-bottom: 55px;
  margin-left: 30px;
}

.order-form__text {
  width: 260px;
  font-size: 13px;
  line-height: 24px;
  min-height: 100px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.order-form__title {
  .form-title-font;
  margin: 0;
  padding-bottom: 30px;
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;

  &--name {
    margin-bottom: 17px;
  }
}

.order-form__notice {
  font-size: 14px;
  line-height: 16px;
}

.order-form__input {
  border: 0;

  &::placeholder {
    .placeholder-font();
    font-size: 17px;
  }

  &--placeholder {
    padding-bottom: 16px;
    border-bottom: 2px solid #000000;
    box-sizing: border-box;
    width: 260px;
  }
}

.order-form__textarea {
  width: 260px;
  box-sizing: border-box;
  border: 2px solid #000000;
  padding-left: 17px;
  padding-top: 15px;

  &::placeholder {
    .placeholder-font();
  }
}

.order-form__container {
  &--radio {
    margin-bottom: 26px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.order-form--checkbox {
  margin-bottom: 34px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.order-form--name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 22px;
}

.order-form__fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.order-form__button {
  .button-small-font();
  line-height: 18px;
}

@media (min-width: 768px) {
  .order-form {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__label {
    .form-label-font;
  }

  .order-form__input--placeholder {
    background-color: inherit;
    width: 501px;
  }

  .order-form__text {
    .order-text-font-tablet-desktop();
    width: 625px;
    margin-top: 81px;
  }

  .order-form__button {
    .button-font-tablet-order;
    order: 1;
    margin-top: 53px;
    width: 230px;
  }

  .order-form__notice {
    .order-text-font-tablet-desktop();
    order: 2;
    margin-top: 61px;
    margin-left: auto;
  }

  .order-form__fieldset {
    flex-direction: row;
    flex-wrap: nowrap;

    &--radio {
      padding-bottom: 50px;
    }

    &--checkbox {
      min-height: 304px;
      background-color: #f1f1f1;
      padding-top: 63px;
      box-sizing: border-box;
      padding-left: 50px;
    }

    &--name {
      min-height: 304px;
      padding-top: 63px;
      box-sizing: border-box;
      padding-left: 50px;
    }

    &--addition {
      padding-top: 50px;
      padding-left: 50px;
    }
  }

  .order-form__title {
    width: 167px;
    margin: 0;
    display: inline-block;
    .form-title-font;
  }

  .order-form__container {
    margin: 0;
    width: 501px;
    display: flex;
    flex-wrap: wrap;

    &--radio {
      width: 501px;
    }

    &--checkbox {
      width: 240px;
    }

    &--name {
      width: 501px;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .order-form__background-container {
    width: 100%;
  }

  .order-form__background-container--contacts {
    min-height: 228px;
    background-color: #f1f1f1;
    padding-top: 63px;
    padding-bottom: 50px;
    box-sizing: border-box;
    padding-left: 50px;
  }

  .order-form__container--name .order-form__input--placeholder {
    width: 100%;
    height: 37px;
  }

  .order-form__textarea {
    width: 501px;
  }

  .order-form__label--name {
    padding-right: 26px;
    margin-bottom: 0;
  }

  .order-form__container--button {
    width: 668px;
    display: flex;
  }
}

@media (min-width: 1150px) {
  .order-form__wrapper {
    margin: 0;
  }

  .order-form__input--placeholder {
    background-color: inherit;
    width: 700px;
  }

  .order-form {
    width: 100%;
    margin-bottom: 50px;
  }

  .order-form__text {
    width: 700px;
    margin: 0 auto;
    min-height: 250px;
    padding-top: 65px;
    box-sizing: border-box;
  }

  .order-form__button {
    margin-top: 49px;
    width: 230px;
    margin-right: auto;
  }

  .order-form__notice {
    margin-left: auto;
  }

  .order-form__fieldset {
    flex-direction: row;
    flex-wrap: nowrap;

    &--radio {
      min-height: 183px;
    }

    &--checkbox {
      min-height: 228px;
      margin-top: 50px;
      box-sizing: border-box;
    }

    &--name {
      min-height: 304px;
      padding-top: 65px;
      padding-bottom: 50px;
      box-sizing: border-box;
    }

    &--addition {
      margin-top: 50px;
    }

    &--tel {
      padding-top: 67px;
    }
  }

  .order-form__background-container--contacts {
    min-height: 228px;
  }

  .order-form__title {
    width: 175px;
    text-align: center;
  }

  .order-form__container {
    width: 700px;

    &--radio {
      width: 700px;
    }

    &--checkbox {
      width: 200px;
      height: 52px;
    }

    &--name {
      width: 700px;
    }

    &--button {
      display: flex;
      width: 700px;
      margin-left: 175px;
    }
  }

  .order-form__textarea {
    width: 700px;
    min-height: 142px;
    box-sizing: border-box;
  }

  .order-form__background-container {
    background-color: #f1f1f1;
    width: 1150px;
  }
}
