@media (min-width: 768px) {
  .page-header {
    width: 768px;
    padding-top: 0;

    &__title-container {
      width: 768px;
      min-height: 147px;
    }

    &__title {
      .first-title-tablet();
    }
  }
}

@media (min-width: 1150px) {
  .page-header {
    width: 1150px;

    &__title-container {
      width: 1250px;
      padding-bottom: 72px;
    }

    &__title {
      .first-title-desktop();
    }
  }
}
