.page-main {
    &__title-container {
        .theme(@page-title-color);
    }
    &__slogan {
        .slogan();
        .second-title();
        width: 100%;
        min-height: 283px;
        background-repeat: no-repeat;
        background-color: #fafafa;
        .slogan-image: (@index-background);
        display: block;
    }
}
