@media (min-width: 320px) {
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 56px;

    &__list {
      .list;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 22px;
      height: 29px;
      background-color: black;
      margin-right: 38px;
    }
  }
}

@media (min-width: 1150px) {
  margin: auto;
}
