@import "normalize.less";
@import "mixins.less";
@import "page-header.less";
@import "nav-first.less";
@import "nav-second.less";
@import "slogan.less";
@import "page-main.less";
@import "categories.less";
@import "popular-item.less";
@import "parameters-table.less";
@import "advantages.less";
@import "reviews.less";
@import "contacts.less";
@import "contacts-table.less";
@import "page-footer.less";
@import "copyright.less";
@import "order.less";
@import "making-process.less";
@import "products.less";
@import "visually-hidden.less";
@import "social.less";
@import "main-nav.less";
@import "nav-third.less";

:root {
  background-color: #ffffff;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
